:root {
    --cream: #F2F1EA;
    --brown: #A58F7C;
    --black: #000000;
    --white: #fff;
    --orange : #FFAE00;
    --red: #A2404A;
}

@font-face {
    font-family: Vegur-light;
    src: url('/fonts/Vegur/Vegur-Light.otf');
}


body{
    background-color : var(--cream);
    font-family: Vegur-light;
}
