:root {
    --cream: #F2F1EA;
    --brown: #A58F7C;
    --black: #000000;
    --white: #fff;
    --orange : #FFAE00;
    --red: #A2404A;
}

@font-face {
    font-family: Vegur-light;
    src: url('/fonts/Vegur/Vegur-Light.otf');
    font-family: Ostrich-Sans-light;
    src: url('/fonts/Ostrich/ostrich-sans-light.ttf');
}

*{
    box-sizing: border-box;
}

body{
    background-color : var(--cream);
    font-family: Vegur-light;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

/* ---------- BEST SELLER ----------- */

.bestseller__content{
    display: flex;
    justify-content: space-around;
}

.bestseller__content ul {
    margin-bottom: 3%;
}

.bestseller__content--info{
    border: 1px solid black;
    border-top: none;
    border-radius: 0 0 20px 20px;
    margin: -12px 6px 0 6px;
    padding: 0;
    text-align: center;
}
.bestseller__content--info p{
    padding: 3px 0;
    margin: 0;
}

.bestseller__content--info p img{
    width: 15px;
}

.bestseller__content--info p img, span{
    margin: 0 10%;
}
/* ---------- FOOTER ---------- */

.footer{
    background-color: var(--brown);
    color: var(--white);
}

.column {
    display: flex;
    justify-content: space-around;
}

.column__title{
    font-size: 30px;
    /*font-family: Ostrich-Sans-light;*/
}

ul{
    list-style-type: none;
    list-style-position: outside;
    margin: 2% 0 1% 0;
    padding:0;
    width: 15%;
}

li{
    line-height: 150%;
}

#column__img_logo{
    width: 100%;
    margin-top: 10%;
}

#column__addmail{
    padding: 5px;
    border: 1px solid var(--white);
    border-radius: 7px;
}

#column__validmail{
    padding: 5px 8px;
    margin-left: 12px;
    border: 1px solid var(--white);
    border-radius: 7px;
    background-color: #8D7867;
    font-size: 10px;
    text-align: center;
}

#column__socialmedia{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

#copyright{
    text-align: center;
    font-weight: bold;
    padding-bottom: 2%;
}
