:root {
  --cream: #F2F1EA;
  --brown: #A58F7C;
  --black: #000000;
  --white: #fff;
  --orange : #FFAE00;
  --red: #A2404A;
}

@font-face {
    font-family: Vegur-light;
    src: url('/fonts/Vegur/Vegur-Light.otf');
    font-family: Ostrich-Sans-light;
    src: url('/fonts/Ostrich/ostrich-sans-light.ttf');
}

*{
    box-sizing: border-box;

}

body{
  background-color : var(--cream);
  font-family: Vegur-light;
}

img{
  /* petit truc pour permettre a une image de ne pas deborder du parent */
  max-width: 100%;
  height: auto; 
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* ---Navbar--- */

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
}

.header__nav {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.header__nav a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;

  }

.header__logo {
  background-position: bottom;
}


.card__btn{
  margin-top: auto;
}
/* ---End-Navbar--- */

/* ---Start-Banner--- */

.banner {
  display: flex;
  flex-direction: column;
  background-image: url('img/banner_homepage.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 340px;

}

.banner__title {
  text-align: center;
  font-size: 50%;
  color: var(--white);
  position: relative;
  top:40%;
  }

.halloween__button {
  background: #894826;
  border-radius: 20px;
  padding: 10px;
  height:40px;
  width: 100px;
  position: relative;
  left:40%;
  top:45%;
}

.button__title {
  text-align: center;
  color: var(--white);
}

@media screen and (min-width : 800px) {
  .cards__item{
    max-width: 50%;
  }
}

@media screen and (min-width : 600px) {
  .cards__item{
    max-width: 100%;
  }
}

/* ---End-Banner--- */

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
/* ---------- FOOTER ---------- */

.footer{
    background-color: var(--brown);
    color: var(--white);
}

.column {
    display: flex;
    justify-content: space-around;
}

.column__title{
    font-size: 30px;
    /*font-family: Ostrich-Sans-light;*/
}

ul{
    list-style-type: none;
    list-style-position: outside;
    margin: 2% 0 1% 0;
    padding:0;
    width: 15%;
}

li{
    line-height: 150%;
}

#column__img_logo{
    width: 100%;
    margin-top: 10%;
}

#column__addmail{
    padding: 5px;
    border: 1px solid var(--white);
    border-radius: 7px;
}

#column__validmail{
    padding: 5px 8px;
    margin-left: 12px;
    border: 1px solid var(--white);
    border-radius: 7px;
    background-color: #8D7867;
    font-size: 10px;
    text-align: center;
}

#column__socialmedia{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

#copyright{
    text-align: center;
    font-weight: bold;
    padding-bottom: 2%;
}